body {
  font-family: "Open Sans", sans-serif;
}

body a:hover {
  text-decoration: none;
}

/* HEADER */

.site-header {
  background-color: rgba(18, 33, 71, 1);
  height: 90px;
  padding: 25px 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: 0.5s;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.site-header.scrolled {
  height: 70px;
  padding: 15px 0px;
}

.site-header a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.site-header .menu {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}

.site-header .icon.button {
  display: none;
  position: absolute;
  height: 62px;
  top: calc(50% - 30px);
  right: 15px;
  background-color: transparent;
}

.sidebar.menu {
  background-color: rgba(18, 33, 71, 0.8) !important;
  margin-top: 90px !important;
  box-shadow: none !important;
  height: 100%;
}

.responsive-nav {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  margin-top: 90px;
  height: 100%;
  background-color: rgba(18, 33, 71, 1);
  width: 100%;
  z-index: 500;
  transition: 0.5 ease-in-out;
  -o-transition: 0.5 ease-in-out;
  -moz-transition: 0.5 ease-in-out;
  -webkit-transition: 0.5 ease-in-out;
}

.responsive-nav a {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.responsive-nav a.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.responsive-nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.responsive-nav.scrolled {
  margin-top: 70px;
}

@media screen and (min-width: 801px) {
}

@media screen and (max-width: 800px) {
  .site-header .icon.button {
    display: inline;
  }

  .site-header .menu.right {
    display: none !important;
  }

  .responsive-nav.active {
    display: flex;
  }

  .responsive-nav.active a.active {
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
    -o-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
  }
}

@keyframes fadein {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@-webkit-keyframes fadein {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@-moz-keyframes fadein {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@-o-keyframes fadein {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

/* FOOTER */

.site-footer {
  background-color: rgba(17, 17, 17);
  color: white;
  padding: 60px 0 30px 0;
}

.site-footer a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.site-footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #eee;
  line-height: 2rem;
  margin-bottom: 10px;
}

.site-footer h3 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0 5px 0;
  color: white;
  padding-bottom: 12px;
  margin-bottom: 25px;
}

.site-footer h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  height: 2px;
}

.site-footer h3::after {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  bottom: 0;
  width: 60px;
  background-color: #e3074a;
  height: 2px;
}

.copyright {
  text-align: center;
  margin-top: 90px;
}

.site-footer .ui.secondary.inverted.menu a.item:hover {
  color: #e3074a !important;
}

.site-footer .ui.inverted.link.list a.item:hover i {
  color: #e3074a !important;
}

/* HOME */

.carousel-inner {
  padding-top: 90px !important;
  transition: 0.5s ease-in-out;
}

.carousel-inner.scrolled {
  padding-top: 70px !important;
}

.projects {
  padding-top: 30px;
  padding-bottom: 70px;
}

.instagram-icon::before:hover {
  background-color: #c13584;
}

.projects h2 {
  font-family: "Open Sans", sans-serif;
  color: #111;
}

.section-header {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 60px;
  text-align: center;
}

.section-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: calc(50% - 32.5px);
  width: 65px;
  height: 2px;
  background-color: #e3074a;
}

/* ABOUT US */

.international:before,
.national:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.international::before,
.national:before {
  background: rgba(255, 255, 255, 0.65);
}

.international {
  position: relative;
  padding-top: 140px;
  padding-bottom: 50px;
  color: #000;

  font-family: "Open Sans", sans-serif;
  background-image: url("../imgs/world-map.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  /*background-size: cover;*/
}

.international p,
.national p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
}

.international .container,
.national .container {
  position: relative;
  z-index: 10;
}

.national {
  position: relative;
  padding-top: 50px;
  padding-bottom: 90px;
  color: #000;

  background-image: url("../imgs/tn2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /*background-size: cover;*/
}

.international h4,
.national h4 {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.custom-header span {
  position: relative;
}

.custom-header span:after {
  left: 100%;
  margin-left: 15px;
}

.about-us span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1000px;
  display: block;
  background-color: #000;
  height: 1px;
}

.about-us .team {
  padding-bottom: 90px;
  padding-top: 50px;
  background-color: #52364c;
  color: #fff;
}

.about-us .team .section-header::after {
  background-color: #d0674d;
}

.bounce-1 {
  visibility: visible;
  animation: bouncein-1 0.7s ease-in-out;
}

.bounce-2 {
  visibility: visible;
  animation: bouncein-2 0.7s ease-in-out;
}

.bounce-up {
  animation: bounceup 0.7s ease-in-out;
}

.bounce-down {
  animation: bouncedown 0.7s ease-in-out;
}

.text-bounce {
  visibility: visible;
  animation: text-bounce 0.7s ease-in-out;
}

.about-us .team .text h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.about-us .team .text p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #d0674d;
}

.about-us .team .grid img {
  width: 30%;
}

.about-us .team .grid .column .text {
  text-align: center;
}

.hide {
  visibility: hidden;
}

.about-us .team .grid .column:nth-child(even) img {
  float: right;
}

.about-us .team .grid .column:nth-child(odd) img {
  float: left;
}

.about-us .team .grid .column:last-child {
  margin-right: -80px;
}

@keyframes bouncein-1 {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes bouncein-1 {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes bouncein-1 {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes bouncein-1 {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bouncein-2 {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes bouncein-2 {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes bouncein-2 {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes bouncein-2 {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-bounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes text-bounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-o-keyframes text-bounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes text-bounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounceup {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bouncedown {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*        AWARDS         */
.awards {
  padding: 150px 0 100px 0;
  background-color: rgb(227, 227, 227);
}

.vertical-timeline-element-icon i {
  display: block;
  position: relative;
  left: calc(50% - 16px);
  top: calc(50% - 14px);
}

.vertical-timeline-element--education .vertical-timeline-element-content {
  border-top: 3px solid #e3074a;
}

.section-sub-header {
  margin-top: -40px;
  text-align: center;
  color: #333;
  margin-bottom: 45px;
  font-size: 17px;
  font-family: "Open Sans ", sans-serif;
}

.award-img {
  margin-top: 20px;
  width: 100%;
}

.vertical-timeline-element-title {
  text-align: center;
}

/*        ACTIVITIES         */

.activities {
  padding: 150px 0 100px 0;
}

.activities .card {
  animation: communityFadin 1s ease-in-out;
}

/*        ACITIVITY         */

.activity {
  padding: 150px 0 100px 0;
}

.activity .header {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}

.activity .date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.activity .main-img {
  width: 100%;
  margin-top: 40px;
}

.activity .grid img {
  width: 100%;
  height: 100%;
}

.activity .ui.list a.item:hover i {
  color: #e3074a !important;
}

.activity .description {
  width: 75%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 50px auto 60px auto;
  text-align: left;
}

.activity .sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 60px;
}

/*        COMMUNITY         */

.community {
  padding: 150px 0 100px 0;
}

.community img {
  width: 100%;
  height: 100%;
}

.community .active .column,
.community .active p {
  animation: communityFadin 0.7s ease-in-out;
}

@keyframes communityFadin {
  from {
    opacity: 0;
    /*transform: scale(0.5);*/
  }
  to {
    opacity: 1;
    /*transform: scale(1);*/
  }
}

.community-button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 25px;
  margin-bottom: 60px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  border: 0.5px solid #000;
}

.community-button-active,
.community-button:hover {
  color: #fff;
  border-color: #e3074a;
  background-color: #e3074a;
}

.community p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 60px;
}

.underconstruction {
  height: 600px;
  position: relative;
}

.underconstruction h2 {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
}

/*        SPONSORS         */
.sponsors {
  padding-bottom: 100px;
}

.sponsors .grid .column {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsors .grid img {
  width: 100%;
}

/*        SPONSORS         */
.contact-us {
  padding-bottom: 100px;
}

.contact-us form {
  width: 50%;
  margin: 0 auto;
}
