/* HEADER */

body {
  font-family: "Open Sans", sans-serif;
}

body a:hover {
  text-decoration: none;
}

.site-header {
  background-color: rgba(18, 33, 71, 0.8);
  height: 90px;
  padding: 25px 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: 0.5s;
}

.site-header.scrolled {
  height: 70px;
  padding: 15px 0px;
}

.site-header a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* FOOTER */

.site-footer {
  background-color: rgba(17, 17, 17);
  color: white;
  padding: 60px 0 30px 0;
}

.site-footer a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.site-footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #eee;
  line-height: 2rem;
  margin-bottom: 10px;
}

.site-footer h3 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0 5px 0;
  color: white;
  padding-bottom: 12px;
  margin-bottom: 25px;
}

.site-footer h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  height: 2px;
}

.site-footer h3::after {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  bottom: 0;
  width: 60px;
  background-color: #e3074a;
  height: 2px;
}

.copyright {
  text-align: center;
  margin-top: 90px;
}

.site-footer .ui.secondary.inverted.menu a.item:hover {
  color: #e3074a !important;
}

.site-footer .ui.inverted.link.list a.item:hover i {
  color: #e3074a !important;
}

/* HOME */

.projects {
  padding-top: 30px;
  padding-bottom: 70px;
}

.instagram-icon::before:hover {
  background-color: #c13584;
}

.projects h2 {
  font-family: "Open Sans", sans-serif;
  color: #111;
}

.section-header {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 60px;
  text-align: center;
}

.section-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: calc(50% - 32.5px);
  width: 65px;
  height: 2px;
  background-color: #e3074a;
}

/* ABOUT US */

.international:before,
.national:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.international::before,
.national:before {
  background: rgba(255, 255, 255, 0.65);
}

.international {
  position: relative;
  padding-top: 140px;
  padding-bottom: 50px;
  color: #000;

  font-family: "Open Sans", sans-serif;
  background-image: url("../imgs/world-map.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  /*background-size: cover;*/
}

.international p,
.national p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
}

.international .container,
.national .container {
  position: relative;
  z-index: 10;
}

.national {
  position: relative;
  padding-top: 50px;
  padding-bottom: 90px;
  color: #000;

  background-image: url("../imgs/tn2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /*background-size: cover;*/
}

.international h4,
.national h4 {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.custom-header span {
  position: relative;
}

.custom-header span:after {
  left: 100%;
  margin-left: 15px;
}

.about-us span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1000px;
  display: block;
  background-color: #000;
  height: 1px;
}

/*        AWARDS         */
.awards {
  padding: 150px 0 100px 0;
  background-color: rgb(227, 227, 227);
}

.vertical-timeline-element-icon i {
  display: block;
  position: relative;
  left: calc(50% - 16px);
  top: calc(50% - 14px);
}

.vertical-timeline-element--education .vertical-timeline-element-content {
  border-top: 3px solid #e3074a;
}

.section-sub-header {
  margin-top: -40px;
  text-align: center;
  color: #333;
  margin-bottom: 45px;
  font-size: 17px;
  font-family: "Open Sans ", sans-serif;
}

.award-img {
  margin-top: 20px;
}

.vertical-timeline-element-title {
  text-align: center;
}

/*        ACTIVITIES         */

.activities {
  padding: 150px 0 100px 0;
}

/*        ACITIVITY         */

.activity {
  padding: 150px 0 100px 0;
}

.activity .header {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}

.activity .date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.activity .main-img {
  width: 100%;
  margin-top: 40px;
}

.activity .grid img {
  width: 100%;
  height: 100%;
}

.activity .ui.list a.item:hover i {
  color: #e3074a !important;
}

.activity .description {
  width: 75%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 50px auto 60px auto;
  text-align: left;
}

.activity .sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 60px;
}

/*        COMMUNITY         */

.underconstruction {
  height: 600px;
  position: relative;
}

.underconstruction h2 {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
}
